.divTable {
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 10px;
    /*cellspacing:poor IE support for  this*/
    /* border-collapse:separate;*/
}

.divRow {
    display: table-row;
    width: auto;
}

.divCell {
    float: left;
    /*fix for  buggy browsers*/
    display: table-column;
    width: 120px;
    background-color: whitesmoke;
    font-size: 16px;
    text-align: center;
}